

body {
  margin: 0;
  font-family: Arial;
  background: #5A9CB5;
}

.container {
  margin-top: 120px;
  text-align: center;
}

button {
  padding: 15px 30px;
  margin: 10px;
  font-size: 18px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
}

select {
  padding: 10px;
  font-size: 16px;
}

.top-bar {
  background: #007bff;
  color: white;
  padding: 10px;
  text-align: center;
}

#map {
  height: calc(100vh - 80px);
}

#info {
  font-size: 14px;
  margin-top: 5px;
}



